SECRET_KEY=<secret-key>

TESTS=<if not testing 0 else 1>

POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_SERVER=<postgres-server>
POSTGRES_DB=<postgres-database>
POSTGRES_PORT=<postgres-port>

SMTP_USER=<google-email>
SMTP_PASSWORD=<google-password>

USERNAME_ADMIN=<admin-username>
EMAIL_ADMIN=<admin-email>
PASSWORD_ADMIN=<admin-password>
